* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fffef8;
    font-family: 'Work Sans';
    color: #444444;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 5fr 1fr;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

#login h2 {
    color: #1D6154;
    margin-bottom: 20px;
    font-family: Syne;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    line-height: 36px;
}

#login .email {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#login .email label {
    margin-bottom: 5px;
}

#login .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

#login .password label {
    margin-bottom: 5px;
}

#login input {
    border: 1px;
    padding: 10px;
    width: 400px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

#login [type="submit"] {
    border-radius: 60px;
    color: #fffef8;
    width: 180px;
}

#login a {
    color: #3d3d3d
}

#login a:hover {
    color: #1D6154
}
